div {
    color: #161C23;
}

.task{
    overflow: auto;
    height: 80vh;
    margin-top: 24px !important;
}

li {
    list-style-type: none;
}

.title{
    padding-top: 20px;
}

.row-status{
    padding-top: 5px;
    font-size: large;
    padding-bottom: 15px;
}